<div class="container">
  <div class="row mx-auto my-4">
    <h2>ユーザーの詳細</h2>
  </div>

<p>チャットボタンを押すことで問い合わせができます</p>

<table class="table table-hover">
  <thead>
    <tr>
     <th></th>
     <th>名前</th>
     <th>電話番号</th>
     <th>年齢</th>
    </tr>
  </thead>
  <tbody>
     <tr>
      <td></td>
      <td><%= @user.full_name %></td>
      <td><%= @user.phone_number %></td>
      <td><%= @user.age %></td>
     </tr>
  </tbody>
 </table>
 </div>

  <div class="my-3 mx-5">
    <%= link_to "チャットする",health_center_chat_room_path(@user), class:"chat-button" %>
    <% if @user.user_healths.exists? %>
    <%= link_to "健康状態の確認",health_center_user_health_path(@user), class:"chat-button"%>
    <% end %>
  </div>
