<div class="container">
  <div class="row mx-auto my-4">
    <h2 class="title"><%= t :condition_confirm %></h2>
  </div>

  <div class="container center-contents pt-3">
    <div class="row my-5 pt-3">
      <table class="table table-hover show-list">
        <%= form_with model: @user_health, url: user_user_healths_path, method: :post, local:true do |f| %>
      <tr>
        <th><%= t :fever %></th>
        <td><%= @user_health.temperature %></td>
      </tr>
      <tr>
        <th><%= t :health_condition %></th>
        <td><%= @user_health.condition %></td>
      </tr>
      <tr>
        <th><%= t :transportation %></th>
        <td><%= @user_health.transportation %></td>
      </tr>
      <tr>
        <th><%= t :want_examination %></th>
        <td><%= @user_health.want_examination ? "希望する" : "希望しない" %></td>
      </tr>
    </table>
    </div>
      <%= f.hidden_field :temperature %>
      <%= f.hidden_field :condition %>
      <%= f.hidden_field :transportation %>
      <%= f.hidden_field :want_examination %>
      <%= f.hidden_field :health_center_id %>

    <div class="d-flex justify-content-end pr-5 pt-2">
      <%= f.submit "#{ t :sent }", class:"btn btn-success" %>
      <%end%>
    </div>
  </div>
</div>