<h2>健康状態の確認画面</h2>

<%= form_with model: @user_health, url: user_user_healths_path, method: :post, local:true do |f| %>

<table>
  <thead>
    <tr>
      <th>熱</th>
      <th>現在の体調</th>
      <th>移動手段</th>
      <th>PCR検査の希望</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user_health.temperature %></td>
      <td><%= @user_health.condition %></td>
      <td><%= @user_health.transportation %></td>
      <td><%= @user_health.want_examination %></td>
    </tr>
  </tbody>
</table>
    <%= f.hidden_field :temperature %>
    <%= f.hidden_field :condition %>
    <%= f.hidden_field :transportation %>
    <%= f.hidden_field :want_examination %>
<%= f.submit "送信する", class:"btn btn-success" %>
<%end%>