<div>
  <h2>健康状態の報告</h2>
</div>

<div>
  <div class="form_group">
    <%= form_with url: user_user_healths_confirm_path, method: :post, local:true do |f| %>

    <%= f.label :temperature, "現在の熱" %>
    <%= f.text_field :temperature, class: "form-control" %>

    <%= f.label :condition, "現在の体調" %>
    <%= f.text_field :condition, class: "form-control" %>

    <%= f.label :transportation, "交通手段" %>
    <%= f.text_field :transportation, class: "form-control" %>

    <%= f.label :want_examination, "PCR検査を希望しますか？" %>

    <%= f.check_box :want_examination, checked: true %>
    <%#= f.label :want_examination, "希望します", :checked => false %>


    <%#= f.radio_button :want_examination, class: "form-control" %>
    <%#= f.label :want_examination, "希望しません", :checked => true %>

    <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>