<div class="container">
  <div class="row mx-auto my-4">
    <h2>健康状態の報告</h2>
  </div>

<div class="my-2">
    <%= form_with url: user_user_healths_confirm_path, method: :post, local:true do |f| %>
  <div class="form-group">
    <%= f.label :temperature, "現在の熱" %>
    <%= f.text_field :temperature, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :condition, "現在の体調" %>
    <%= f.text_field :condition, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :transportation, "交通手段" %>
    <%= f.text_field :transportation, class: "form-control" %>
  </div>
  <div class = "form-group row">
    <%= f.label :want_examination, "PCR検査を希望しますか？", class: "col-4" %>
    <%= f.select :want_examination, [['希望する',0],['希望しない',1]], { selected: 0 } %>
  </div>

    <%= f.submit "確認画面へ進む", class: "confirm-button" %>

    <% end %>
</div>
</div>