<div class="message">
  <% if message.from == 'user' %>
    <div class="my-message" style="text-align: right">
    <p class="pr-5 pt-4"><%= message.created_at.strftime('%m/%d %H:%M') %><br/>
    <%= message.message %></p>
     </div>
    <% else %>
    <div class="your-message">
      <p class="pl-5 pt-5"><%= link_to message.health_center.name,user_health_center_path(@health_center), class: "Editlink" %>
      <%= message.created_at.strftime('%m/%d %H:%M') %><br/>
      <%= message.message %></p>
    </div>
    <% end %>
</div>