<div class="container">
  <div class="row mx-auto my-4">
    <h2 class="title"><%= t :log_in %></h2>
  </div>

<div class="container center-contents pt-2">
  <div class="row my-5 ml-5">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, "#{ t :email }" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field mt-3">
        <%= f.label :password,"#{ t :password }" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div class="actions pt-4">
        <%= f.submit "#{ t :log_in }" %>
      </div>
    <% end %>
  </div>

    <div class="pl-5 signup-link">
      <%= link_to users_guest_sign_in_path, method: :post do %><%= t :guest_login %><% end %><br />
      <br /><%= t :if_not_signin %> <%= link_to new_registration_path(resource_name) do %><%= t :people_signin %><% end %><br />
      <br/><div class="pass-change"><%= render "users/shared/links" %></div>
    </div>
</div>
</div>