<h2>保健所の検索</h2>

<p>お住まいの市町村を入れていただくことで保健所の検索が可能です</p>

<div>
  <%= form_tag(user_health_centers_search_path, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag "検索" %>
  <% end %>
</div>

<ul><% @health_centers.each do |health_center| %>
  <li>
    <%= health_center.name %>
  </li>
<% end %></ul>


<table class="table table-hover table-inverse">
  <thead>
    <tr>
     <th></th>
     <th>保健所名</th>
    </tr>
  </thead>

  <tbody>
     <% @health_centers.each do |health_center| %>
     <tr>
      <td>
      </td>
      <td><%= health_center.name %></td>
     </tr>
     <% end %>
  </tbody>
