<div class="container">
  <div class="row mx-auto my-4">
    <h2>送信された健康状態履歴の詳細</h2>
  </div>
<div>
  <table class="table table-hover">
    <tr>
      <th>名前</th>
      <td><%= link_to @user_health.user.last_name + @user_health.user.first_name,health_center_user_path(@user) %></td>
    </tr>
    <tr>
      <th>熱</th>
      <td><%= @user_health.temperature %></td>
    </tr>
    <tr>
      <th>症状</th>
      <td><%= @user_health.condition %></td>
    </tr>
    <tr>
      <th>交通手段</th>
      <td><%= @user_health.transportation %></td>
    </tr>
    <tr>
      <th>検査希望</th>
      <td><%= @user_health.want_examination %></td>
    </tr>
    <tr>
      <th>送信日</th>
      <td><%= @user_health.created_at %></td>
    </tr>
  </table>
</div>
</div>