<div class="container">
  <div class="row mx-auto my-4">
    <h2 class="title">送信された健康状態履歴の詳細</h2>
  </div>

<div class="container center-contents pt-3">
  <div class="row my-5 pt-3">
    <table class="table table-hover show-list">
      <tr>
        <th>名前</th>
        <td><%= link_to @user_health.user.full_name,health_center_user_path(@user) %></td>
      </tr>
      <tr>
        <th>熱</th>
        <td><%= @user_health.temperature %></td>
      </tr>
      <tr>
        <th>症状</th>
        <td><%= @user_health.condition %></td>
      </tr>
      <tr>
        <th>交通手段</th>
        <td><%= @user_health.transportation %></td>
      </tr>
      <tr>
        <th>検査希望</th>
        <td><%= @user_health.want_examination ? "希望する" : "希望しない" %></td>
      </tr>
      <tr>
        <th>送信日</th>
        <td><%= @user_health.created_at.strftime('%Y/%m/%d %H:%M') %></td>
      </tr>
      <tr>
        <th>緊急度</th>
          <% if @user_health.magnitude.to_f >= 0.5 %>
        <td>緊急度高い</td>
          <% else %>
        <td>緊急度低い</td>
          <% end %>
      </tr>
    </table>
  </div>
</div>
</div>
