<div class="container">
  <div class="row mx-auto my-4">
    <h2>マイページ</h2>
  </div>

<div>
  <table class="table table-hover">
    <tr>
      <th>名前</th>
      <td><%= @user.full_name %></td>
    </tr>
    <tr>
      <th>年齢</th>
      <td><%= @user.age %></td>
    </tr>
    <tr>
      <th>連絡先</th>
      <td><%= @user.phone_number %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @user.address_city + @user.address_street + @user.address_building %></td>
    </tr>
    <tr>
      <th>メールアドバイス</th>
      <td><%= @user.email %></td>
    </tr>
  </table>
</div>


<%= link_to "退会",user_users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
<%= link_to "編集",edit_user_user_path, class:"btn btn-success" %>

<%= link_to "チャット履歴",user_chat_room_path(@health_center), class:"chat-button" %>
<%= link_to "健康状態履歴",user_user_healths_path, class:"chat-button" %>

</div>
