<div class="container">
  <div class="row mx-auto my-4">
    <h2 class="title">ユーザーの詳細</h2>
  </div>
    <p>検査結果はこちらから作成できます</p>

<div class="container center-contents pt-3">
  <div class="row my-5 pt-3">
    <table class="table table-hover show-list">
      <tr>
        <th>名前</th>
        <td><%= @user.full_name %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @user.phone_number %></td>
      </tr>
      <tr>
        <th>年齢</th>
        <td><%= @user.age %></td>
      </tr>
      <tr>
        <th>性別</th>
        <td><%= @user.gender %></td>
      </tr>
    </table>
  </div>
  <div class="d-flex justify-content-end pr-5">
    <%= link_to "検査結果を作成する",new_hospital_examination_path, class:"chat-button" %>
  </div>
</div>
</div>