<div class="jumbotron top-img">
  <div class="container">
    <h1 class="top-message" id="topmessage"><%= t :we_help %><br/><%= t :each_other %></h1>
  </div>
</div>
<div class="section about-img">
  <div class="txtBox inview fadeIn_left">
    <p><%= t :real_time_chat %></p>
  </div>
</div>

<div class="container top-list">
  <div class="row">
    <table class="table">
      <tr class="alt">
        <td><h2><%= t :people %></h2></td>
        <td><h3><%= link_to  user_health_centers_path do %><%= t :contact %><% end %></h3><br /><%= t :with_healthcenter %><br /><%= t :can_contact %></td>
        <td><h3><%= link_to new_user_user_health_path do %><%= t :report %><% end %></h3><br /><%= t :your_healath %></td>
      <% if user_signed_in? %>
        <td><h3><%= link_to user_user_path(current_user) do %><%= t :mypage %><% end %></h3><br /><%= t :my_page %><br /><%= t :edit %></td>
      <% else %>
        <td><h3><%= link_to new_user_session_path do %><%= t :mypage %><% end %></h3><br /><%= t :my_page %><br /><%= t :edit2 %></td>
      <% end %>
      </tr>
      <tr>
        <td><h2><%= t :Health_Center %></h2></td>
        <td><h3><%= link_to health_center_users_path do %><%= t :search_user %><% end %></h3><br /><%= t :user_search2 %><br /><%= t :with_name %></td>
        <td><h3><%= link_to  health_center_chat_rooms_path do %><%= t :all_chats %><% end %></h3><br /><%= t :chats_index %></td>
        <td><h3><%= link_to  health_center_user_healths_path do %><%= t :confirm_health %><% end %></h3><br /><%= t :confirm_userhealth %></td>
      </tr>
    </table>
  </div>
</div>
<div class="english">You can change language with insert "/en" at the end of URL.</div>
