<div class="message">
    <% if message.from == "health_center" %>
    <div style="font-color: #000; text-align: right">
      <p style="color: white"><%= message.created_at.strftime('%m/%d %H:%M') %></p>
      <p style="color: white"><%= message.message %></p>
    </div>
    <% else %>
    <div>
      <p style="color: white"><%= link_to message.user.full_name,health_center_user_path(@user),class: "Editlink" %>
      <%= message.created_at.strftime('%m/%d %H:%M') %></p>
      <p style="color: white"><%= message.message %></p>
    </div>
    <% end %>
</div>