<!DOCTYPE html>
<html>
  <head>
    <title>HealthLink</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <meta name ="viewport" content="width=device-width,initial-scale=1.0">
      <script src="https://kit.fontawesome.com/a06a79ce1c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <div class="wrapper">
    <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand icon" href="/"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto header-all" id="pc-menu">
            <% if user_signed_in? %>
              <li class="nav-item ml-auto pt-4">
              <% if check_user_notification == true %>
                <p class="mt-4"><%= link_to user_health_centers_path, class: 'nav-link text-white' do %><%= t :contact %><% end %></p>
              <% else %>
                <p class="fa fa-circle mt-3" style="color:red;"><%= link_to user_health_centers_path, class: 'nav-link text-white' do %><%= t :contact %><% end %></p>
              <% end %>
              </li>
              <li class="nav-item  pr-4 pl-5 pt-5">
                <%= link_to user_user_path(current_user), class: 'nav-link text-white' do %><%= t :mypage %><% end %>
              </li>
              <li class="nav-item mx-4 pt-5">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-white' do %><%= t :log_out %><% end %>
              </li>
            <% elsif health_center_signed_in? %>
              <li class="nav-item pt-4 ml-auto pt-5">
                <%= link_to health_center_users_path, class: 'nav-link text-white' do %><%= t :search_user %><% end %>
              </li>
              <li class="nav-item  pr-4 pl-5 pt-4">
                <% if check_health_center_notification == true %>
                  <p class="mt-4"><%= link_to health_center_chat_rooms_path, class: "nav-link text-white" do %><%= t :all_chats %><% end %></p>
                <% else %>
                  <p class="fa fa-circle notifi" style="color:red;"><%= link_to health_center_chat_rooms_path, class: "nav-link text-white" do %><%= t :all_chats %><% end %></p>
                <% end %>
              </li>
              <li class="nav-item mx-4 pt-5">
                <%= link_to destroy_health_center_session_path, method: :delete, class: 'nav-link text-white' do %><%= t :log_out %><% end %>
              </li>
            <% elsif hospital_signed_in? %>
              <li class="nav-item pt-4 ml-auto pt-5">
                <%= link_to hospital_users_path, class: 'nav-link text-white' do %><%= t :search_user %><% end %>
              </li>
              <li class="nav-item  pr-4 pl-5 pt-4">
                <% if check_health_center_notification == true %>
                  <p class="mt-4"><%= link_to hospital_health_centers_path, class: "nav-link text-white" do %><%= t :search_healthcenter %><% end %></p>
                <% else %>
                  <p class="fa fa-circle notifi" style="color:red;"><%= link_to health_center_chat_rooms_path, class: "nav-link text-white" do %><%= t :all_chats %><% end %></p>
                <% end %>
              </li>
              <li class="nav-item mx-4 pt-5">
                <%= link_to destroy_hospital_session_path, method: :delete, class: 'nav-link text-white' do %><%= t :log_out %><% end %>
              </li>
            <% else %>
              <li class="nav-item ml-auto pt-5">
                <%= link_to root_path, class: 'nav-link text-white' do %><%= t :home %><% end %>
              </li>
              <li class="nav-item pr-4 pl-5 pt-5">
                <%= link_to new_user_session_path, class: 'nav-link text-white' do %><%= t :people_login %><% end %>
              </li>
              <li class="nav-item mx-4 pt-5">
                <%= link_to new_health_center_session_path, class: 'nav-link text-white' do %><%= t :health_center_login %><% end %>
              </li>
              <li class="nav-item mx-4 pt-5">
                <%= link_to new_hospital_session_path, class: 'nav-link text-white' do %><%= t :hospital_login %><% end %>
              </li>
            <% end %>
          </ul>
          
           <ul class="navbar-nav ml-auto header-all" id="sp-menu">
            <% if user_signed_in? %>
              <li class="nav-item">
              <% if check_user_notification == true %>
                <p class="mt-4"><%= link_to user_health_centers_path, class: 'nav-link text-white' do %><%= t :contact %><% end %></p>
              <% else %>
                <p class="fa fa-circle mt-3" style="color:red;"><%= link_to user_health_centers_path, class: 'nav-link text-white' do %><%= t :contact %><% end %></p>
              <% end %>
              </li>
              <li class="nav-item">
                <%= link_to user_user_path(current_user), class: 'nav-link text-white' do %><%= t :mypage %><% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-white' do %><%= t :log_out %><% end %>
              </li>
            <% elsif health_center_signed_in? %>
              <li class="nav-item">
                <%= link_to health_center_users_path, class: 'nav-link text-white' do %><%= t :search_user %><% end %>
              </li>
              <li class="nav-item">
                <% if check_health_center_notification == true %>
                  <p class="mt-4"><%= link_to health_center_chat_rooms_path, class: "nav-link text-white" do %><%= t :all_chats %><% end %></p>
                <% else %>
                  <p class="fa fa-circle notifi" style="color:red;"><%= link_to health_center_chat_rooms_path, class: "nav-link text-white" do %><%= t :all_chats %><% end %></p>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_health_center_session_path, method: :delete, class: 'nav-link text-white' do %><%= t :log_out %><% end %>
              </li>
            <% elsif hospital_signed_in? %>
              <li class="nav-item pt-4 ml-auto pt-5">
                <%= link_to hospital_users_path, class: 'nav-link text-white' do %><%= t :search_user %><% end %>
              </li>
              <li class="nav-item  pr-4 pl-5 pt-4">
                <% if check_health_center_notification == true %>
                  <p class="mt-4"><%= link_to hospital_health_centers_path, class: "nav-link text-white" do %><%= t :search_healthcenter %><% end %></p>
                <% else %>
                  <p class="fa fa-circle notifi" style="color:red;"><%= link_to health_center_chat_rooms_path, class: "nav-link text-white" do %><%= t :all_chats %><% end %></p>
                <% end %>
              </li>
              <li class="nav-item mx-4 pt-5">
                <%= link_to destroy_hospital_session_path, method: :delete, class: 'nav-link text-white' do %><%= t :log_out %><% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to root_path, class: 'nav-link text-white' do %><%= t :home %><% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: 'nav-link text-white' do %><%= t :people_login %><% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_health_center_session_path, class: 'nav-link text-white' do %><%= t :health_center_login %><% end %>
              </li>
            <% end %>
          </ul>
          
          
        </div>
      </div>
    </nav>

      <!--<nav class="navbar navbar-expand-lg navbar-light top-header">-->
        <!--<div class="container">-->
          <!--<a class="navbar-brand icon" href="/"></a>-->
          <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
          <!--  <span class="navbar-toggler-icon"></span>-->
          <!--</button>-->
          <!--<div class="collapse navbar-collapse">-->
      <!--      <ul class="navbar-nav ml-auto header-all">-->
      <!--      <% if user_signed_in? %>-->
      <!--        <li class="nav-item ml-auto pt-4">-->
      <!--        <% if check_user_notification == true %>-->
      <!--          <p class="mt-4"><%= link_to '保健所の検索・問い合わせ', user_health_centers_path, class: 'nav-link text-white' %></p>-->
      <!--        <% else %>-->
      <!--          <p class="fa fa-circle mt-3" style="color:red;"><%= link_to '保健所の検索・問い合わせ', user_health_centers_path, class: 'nav-link text-white' %></p>-->
      <!--        <% end %>-->
      <!--        </li>-->
      <!--        <li class="nav-item  pr-4 pl-5 pt-5">-->
      <!--          <%= link_to "マイページ", user_user_path(current_user), class: 'nav-link text-white' %>-->
      <!--        </li>-->
      <!--        <li class="nav-item mx-4 pt-5">-->
      <!--          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>-->
      <!--        </li>-->
      <!--      <% elsif health_center_signed_in? %>-->
      <!--        <li class="nav-item pt-4 ml-auto pt-5">-->
      <!--          <%= link_to "ユーザーの検索", health_center_users_path, class: 'nav-link text-white' %>-->
      <!--        </li>-->
      <!--        <li class="nav-item  pr-4 pl-5 pt-4">-->
      <!--          <% if check_health_center_notification == true %>-->
      <!--            <p class="mt-4"><%= link_to 'チャット一覧', health_center_chat_rooms_path, class: "nav-link text-white" %></p>-->
      <!--          <% else %>-->
      <!--            <p class="fa fa-circle notifi" style="color:red;"><%= link_to 'チャット一覧', health_center_chat_rooms_path, class: "nav-link text-white" %></p>-->
      <!--          <% end %>-->
      <!--        </li>-->
      <!--        <li class="nav-item mx-4 pt-5">-->
      <!--          <%= link_to 'ログアウト', destroy_health_center_session_path, method: :delete, class: 'nav-link text-white' %>-->
      <!--        </li>-->
      <!--      <% else %>-->
      <!--        <li class="nav-item ml-auto pt-5">-->
      <!--          <%= link_to "Home", root_path, class: 'nav-link text-white' %>-->
      <!--        </li>-->
      <!--        <li class="nav-item pr-4 pl-5 pt-5">-->
      <!--          <%= link_to "個人のログイン", new_user_session_path, class: 'nav-link text-white' %>-->
      <!--        </li>-->
      <!--        <li class="nav-item mx-4 pt-5">-->
      <!--          <%= link_to "保健所のログイン", new_health_center_session_path, class: 'nav-link text-white' %>-->
      <!--        </li>-->
      <!--      <% end %>-->

      <!--      </ul>-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</nav>-->
    </header>
    <%= yield %>
    <footer>
      <p class="text-white">©health_link</p>
    </footer>
  </div>
  </body>
</html>
