<!DOCTYPE html>
<html>
  <head>
    <title>HealthLink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <script src="https://kit.fontawesome.com/a06a79ce1c.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

    <div class="wrapper">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container header-all">
          <a class="navbar-brand p-3" href="/"><i class="fas fa-link"></i>HealthLink</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to '保健所の検索', user_health_centers_path, class: 'nav-link text-white' %>
              </li>
              <li class="nav-item">
                <%= link_to "マイページ", user_user_path(current_user), class: 'nav-link text-white' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
              </li>
            <% elsif health_center_signed_in? %>
              <li class="nav-item">
                <%= link_to "ユーザー検索", health_center_users_path, class: 'nav-link text-white' %>
              </li>
              <li class="nav-item">
                <%= link_to '健康状態一覧', health_center_user_healths_path, class: 'nav-link text-white' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_health_center_session_path, method: :delete, class: 'nav-link text-white' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Home", root_path, class: 'nav-link text-white' %>
              </li>
              <li class="nav-item">
                <%= link_to "個人のログイン", new_user_session_path, class: 'nav-link text-white' %>
              </li>
              <li class="nav-item">
                <%= link_to "保健所のログイン", new_health_center_session_path, class: 'nav-link text-white' %>
              </li>
            <% end %>



            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row d-flex justify-content-center text-muted mt-3">
          <p>©health_link</p>
        </div>
      </div>
    </footer>
  </body>
</html>
